{% extends "home-page.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="searched_error">
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-danger alert-dismissible fade show"
    style="margin-bottom: -13%"
    role="alert"
  >
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %} {% endif %}
</div>
<main style="margin-top: 8%">
  <div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Checkout form</h2>
    <div class="row offset-3" style="margin-top: -25px">
      <div class="col-md-8 mb-4">
        <div class="card">
          <form method="POST" class="card-body">
            {% csrf_token %} {#
            <h3>Billing address</h3>
            #}

            <div class="hideable_billing_form">
              <div class="md-form mb-5">
                <input
                  type="text"
                  placeholder="Enter Full Name"
                  id="name"
                  name="name"
                  class="form-control"
                  required
                />
                <label for="name" class=""
                  >Name <span class="text-danger">*</span></label
                >
              </div>

              <div class="md-form mb-5">
                <input
                  type="text"
                  placeholder="Enter Address in Detail"
                  id="address"
                  name="address"
                  class="form-control"
                  required
                />
                <label for="address" class=""
                  >Address <span class="text-danger">*</span></label
                >
              </div>

              <div class="md-form mb-5">
                <input
                  type="number"
                  placeholder="Enter Phone Number"
                  id="phone_number"
                  name="phone_number"
                  class="form-control"
                  required
                />
                <label for="phone_number" class=""
                  >Phone Number <span class="text-danger">*</span></label
                >
              </div>
            </div>

            <hr class="mb-4" />
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Continue to checkout
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %} {% block extra_scripts %} {% endblock extra_scripts %}
