{% extends 'home-page.html' %}
{% load static %}
{% block content %}
<!-- {% load embed_video_tags %} -->
    <!--Main layout-->
    <div class="searched_error ">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" style="margin-top:13%; margin-bottom: -13%" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
  <main class="mt-5 pt-4">

    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.image.url }}" style="height: 400px;" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{object.get_category_display}}</span>
              </a>

            </div>

            <p class="lead">
              {% if object.discount_price %}
                  <span class="mr-1">
                    <del>Rs{{ object.price }}</del>
                  <span>Rs{{ object.discount_price }}</span>
                  </span>
              {% else %}
                  <span>Rs{{ object.price }}</span>

              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

             <div>
               
             </div> 


         <!--  <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p" >Add to cart

          </a>

          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p" >Remove from cart

          </a> -->

          <!-- using fetch api  -->
          
          <a data-product={{ object.slug }} data-action="add"  class="btn btn-primary btn-md my-0 p update-cart" >Add to cart

          </a>

          <a data-product={{ object.slug}} data-action="remove" class="btn btn-danger btn-md my-0 p update-cart" >Remove from cart
          </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <!-- <div id="video" style='max-height: 350px' class="col-md-8"> -->
        <!-- </div> -->
        <!--Grid column-->
        <div class="col-md-4 text-center bg-primary">
          
          <h4 class="my-4 h4">Relates Products</h4><br/>

        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
 <!--      {% for suggestion in suggestions %}
          <div class="row wow fadeIn offset-3">

            <
            <div class="col-lg-4 col-md-6 mb-4">

              <img src={{ suggestion.image.url }}  class="img-fluid" alt="">

            </div>


          </div>
      {% endfor %} -->
      <!--Grid row-->

    <!-- </div> -->
  </main>
  <!--Main layout-->

{% endblock %}

{% block extra_scripts %}
  <script>
    // let ifr = document.getElementsByTagName('iframe')
    // for(let i=0; i<ifr.length; i++){
      // ifr[i].src+='&rel=0'
      // console.log(ifr[i].src)

    // } 
       // let src = $('#video iframe').attr('src')
    // src +='&rel=0'
    // $('#video iframe').attr('src', src) = src
  </script>
{% endblock extra_scripts %}


